<!DOCTYPE html>
<html>
  <head lang="jp">
    <title>A&H</title>
    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/hamburger.css">
    <link rel="stylesheet" type="text/css" href="css/slideshow.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon"
      type="image/png"
      href="favicon.png">
  </head>
  <body>
    <div id="container">
      <header id="home">
        <div id="img-shade">
          <h1>Alex & Haruka's Wedding</h1>
          <div class="hamburger-icon" id="icon"> <!-- hamburger icon -->
            <div class="icon-1" id="a"></div>
            <div class="icon-2" id="b"></div>
            <div class="icon-3" id="c"></div>
          </div>
          <nav id="navbar" class="bottom"> <!-- desktop menu-->
            <ul>
              <li><a data-scroll href="#home">ホーム</a></li>
              <li><a data-scroll href="#our-story">私たちについて</a></li>
              <li><a data-scroll href="#when-where">開催日時・場所</a></li>
              <li><a data-scroll href="#rsvp">参加予約</a></li>
            </ul>
          </nav>
          <div class="dark-blue" id="blue">
            <nav id="navres" class="bottom">
            <ul id="pullout-menu" class="hide">
              <li><a href="#home">ホーム</a></li><br>
              <li><a href="#our-story">私たちについて</a></li><br>
              <li><a href="#when-where">開催日時・場所</a></li><br>
              <li><a href="#rsvp">参加予約￥</a></li>
            </ul>
          </nav>
          </div>
        </div>
      </header>

      <section id="our-story">
        <div class="content">
          <h2>私たちについて</h2>
          <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Our fateful encounter</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
        <span class="cd-date">November 4th 2014</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Title of section 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
        <span class="cd-date">Jan 18</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Title of section 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
        <span class="cd-date">Jan 24</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="img/cd-icon-location.svg" alt="Location">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Title of section 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
        <span class="cd-date">Feb 14</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="img/cd-icon-location.svg" alt="Location">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Title of section 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
        <span class="cd-date">Feb 18</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Final Section</h2>
        <p>This is the content of the last section</p>
        <span class="cd-date">Feb 26</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
  </section> <!-- cd-timeline -->
        </div>
      </section>

      <section>
        <div class="content">
          <h2>Some of the our favorite photos</h2>
          <ul class="rslides">
            <li ><img src="img/slideshow/tree.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/bench.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/books.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/cafe.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/stairs.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/suzallo.jpg" class="slider-img" ></li>
          </ul>
        </div>
      </section>

      <section id="when-where">
        <div class="content">
          <h2>開催日時・場所</h2>
        </div>
      </section>

      <section id="RSVP">
        <h2>Contact</h2>

        <form class="form-style-6" method="post">

          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <hr>
          <div>
            <label class="desc" id="title1" for="fullName">Full Name</label>
            <div>
              <input id="fullName" name="fullName" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
          </div>

          <div>
            <label class="desc" id="title3" for="email">
              Email
            </label>
            <div>
              <input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="3">
           </div>
          </div>

          <div>
            <label class="desc" id="title4" for="message">
              Message
            </label>

            <div>
              <textarea id="message" name="message" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
            </div>
          </div>

              <input id="submitForm" name="submitForm" type="submit" value="Submit">
            </div>
          </div>

        </form>
      </section>
      <section>
        <div class="content"></div>
      </section>
      <footer></footer>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/responsiveslides.min.js"></script>

  <script>

    $(window).scroll(function () {
      if ( $(window).scrollTop() >= $("header").height() - 70) {
        $('#navbar').addClass("scrolled");
        $('#navbar').removeClass("bottom");
      } else {
        $('#navbar').removeClass("scrolled");
        $('#navbar').addClass("bottom");
      }
    });

    window.addEventListener("hashchange", function () {
      console.log("hashchange!");
      window.scrollTo(window.scrollX, window.scrollY - 68);
    });
  </script>
  <script src="js/slideshow.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/main.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/hamburger.js"></script>
</html>
