<!DOCTYPE html>
<html>
  <head lang="jp">
    <title>A&H | Tying the Knot!</title>
    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/timeline.minified.css">
    <link rel="stylesheet" type="text/css" href="css/style.minified.css">
    <link rel="stylesheet" type="text/css" href="css/hamburger.minified.css">
    <link rel="stylesheet" type="text/css" href="css/slideshow.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="url"                content="http://www.alexandharuka.com/jp" />
    <meta name="type"               content="website" />
    <meta name="title"              content="Alex & Haruka" />
    <meta name="description"        content="Although the future is never certain, what is certain is our love for each other." />
    <meta name="image"              content="http://www.alexandharuka.com/img/slideshow/tree.jpg" />
    <!-- favicon -->
    <link rel="icon"
      type="image/png"
      href="favicon.png">
  </head>
  <body>
    <div id="container">
      <header id="home">
        <div id="img-shade">
          <h1>Alex & Haruka's Wedding</h1>

          <div class="hamburger-icon" id="icon"> <!-- hamburger icon -->
            <div class="icon-1" id="a"></div>
            <div class="icon-2" id="b"></div>
            <div class="icon-3" id="c"></div>
          </div>
          <nav id="navbar" class="bottom"> <!-- desktop menu-->
            <ul>
              <li><a data-scroll href="#home">ホーム</a></li>
              <li><a data-scroll href="#our-story">私たちについて</a></li>
              <li><a data-scroll href="#when-where">開催日時・場所</a></li>
              <li><a data-scroll href="#RSVP">参加予約</a></li>
            </ul>
          </nav>
          <div class="dark-blue" id="blue">
            <nav id="navres" class="bottom">
            <ul id="pullout-menu" class="hide">
              <li><a href="#home">ホーム</a></li><br>
              <li><a href="#our-story">私たちについて</a></li><br>
              <li><a href="#when-where">開催日時・場所</a></li><br>
              <li><a href="#RSVP">参加予約</a></li>
            </ul>
          </nav>
          </div>
        </div>
      </header>
      <section id="our-story">
        <div class="content">
          <h2>私たちについて</h2>
          <section id="cd-timeline" class="cd-container">

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location">
                <img src="img/cd-icon-location.svg" alt="Location">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>ポットラック</h2>
                <p>初めて会ったのは学生団体主催のポットラック(料理持ち寄りイベント）でした。最初、別の人と勘違いしてしまいましたが（しかも19歳かと思った笑）、まさか理想の女性に出会えるとは思ってませんでした。ポットラックで軽く会話した後、皆でバーに行きました。僕は車をどこに停めたか忘れてしまい、悠と一緒に探し回りました(笑)。その日の夜、出会えてとても嬉しかったことを伝えました。今でも、一緒にいると同じように嬉しい気持ちになります。今ではよく僕たちがポットラックを開いて、二人一緒にたくさんの友達と楽しい時間を過ごしています。<br>
                <br>
                -アレックス
                </p>
                <span class="cd-date">Oct 26 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->


            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <img src="img/cd-icon-picture.svg" alt="Picture">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>ポットラック</h2>
                <img style="width: 100%;" src="img/timeline/potluck-min.jpg" alt="Potluck at the yellow house">
                <span class="cd-date">Potluck at the yellow house</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

           

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location">
                <img src="img/cd-icon-location.svg" alt="Location">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>誕生日</h2>
                <p>アレックスはこれまでに何度も私に最高の思い出をプレゼントしてくれましたが、中でも私のお気に入りは２０１５年の、私のシアトルでの初めての誕生日です。当時学校の授業に加え、ワシントン大学編入のためにTOEFLの勉強もしていて忙しかったので、誕生日パーティーは必要ないと伝えていました。でもアレックスは私に内緒で仕事の休みをとってくれていて、当日サプライズで私の教室にケーキと風船とプレゼントを持って来てくれました。授業後先生に質問してる時に後ろからハグされてびっくり(笑)こういうの映画やドラマの中だけかと思ってたので、とっても驚いたし嬉しかったです(*^_^*)<br>
                <br>
                -悠
                </p>
                <span class="cd-date">Jan 14 2015</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <img src="img/cd-icon-picture.svg" alt="Picture">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>誕生日</h2>
                <img style="width: 100%;" src="img/timeline/birthday-min.jpg" alt="Lots of fun with Wakaba">
                <span class="cd-date">happiest birthday ever!</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->



            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location">
                <img src="img/cd-icon-location.svg" alt="Location">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>日本旅行</h2>
                <p>2015年に悠が彼女の母国日本を案内してくれました。昔の友達や新しい友達にも会って素晴らしい時間を過ごすことができました。食べ物がとても美味しかったし、悠の家族は優しいし、文化がとても素敵だと思います。日本が本当に大好きです。日本には世界のどの国にもない魅力があると思います。日本では大阪のUSJ、池袋のポケモンセンターや秋葉原のメイドカフェに行ったり、本場のお寿司を食べたり、水族館に行ったり、川でのんびりしたり、他にもたくさんのことをしました！悠に会う前までは、やりたかったことは皆ただのリストに過ぎませんでしたが、出会ってから二人でとてもたくさんのことを実現できました。将来は何ができるのか今から楽しみです。<br>
                <br>
                -アレックス</p>
                <span class="cd-date">Sept 2015</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->


            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <img src="img/cd-icon-picture.svg" alt="Picture">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>日本旅行</h2>
                <img style="width: 100%;" src="img/timeline/japan-min.jpg" alt="Lots of fun with Wakaba">
                <span class="cd-date">A challenger appears!</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->



             <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location">
                <img src="img/cd-icon-location.svg" alt="Location">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>バドミントン</h2>
                <p>早稲田大学在学中にバドミントンの授業をとってからバドミントンが大好きになった私。シアトルに来てからも、積極的に友達を誘ってバドミントンをよくしました。私の影響でアレックスもバドミントンにハマり、一緒にワシントン大学のバドミントン部に入部。アレックスが日本に来た時も友達や私の従弟とバドミントンをしました！最近は忙しく中々バドミントンをできずにいますが、これからもずっと一緒にバドミントンをしたいです☆<br>
                <br>
                -悠</p>
                <span class="cd-date">2014-present</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <img src="img/cd-icon-picture.svg" alt="Picture">
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h2>バドミントン</h2>
                <img style="width: 100%;" src="img/timeline/wakaba-min.jpg" alt="Lots of fun with Wakaba">
                <span class="cd-date">Lots of fun with Wakaba</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->


          </section> <!-- cd-timeline -->
        </div>
      </section>

      <section id="photos">
        <div class="content">
          <h2>思い出の写真たち☆ </h2>
          <ul class="rslides min-height-600">
            <li ><img src="img/slideshow/alex-birthday-min.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/anna-farewell-min.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/bench-min.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/cafe-japan-min.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/halloween-min.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/USJ-min.jpg" class="slider-img" ></li>
            <li ><img src="img/slideshow/yellow-house-min.jpg" class="slider-img" ></li>
          </ul>
        </div>
      </section>

      <section id="when-where">
        <div class="content">
          <h2>開催日時・場所</h2>
          <h3>日時</h3>
          <div style="text-align:center">
            2017年8月6日(日)　17:00-19:00

          </div>
          <h3>場所</h3>
          <div style="text-align:center">
            アンジェパティオ<br>
            東京都渋谷区南平台町12-1<br>
            TEL: 03-3476-7712<br><br>
          </div>
          <ul class="rslides">
            <li><img src="img/angepatio.png"></li>
          </ul>
        </div>
      </section>

      <section id="RSVP">
        <h2>参加予約</h2>
        <form class="form-style-6" method="post">
          <p>
            ご出席できる方は<u>お名前とメールアドレス、参加人数を記入してください。</u><br>
            <u>食物アレルギー</u>など注意事項がありましたらメッセージ欄にご記入下さい。<br>
            その他メッセージがありましたら何でもご自由にお書き下さい。<br>
            パーティーは会費制になります。ご祝儀は不要です。<br>
            <br>
            当日お会いできるのを楽しみにしています！<br>
            <br>
            ※参加人数は<u>半角数字</u>でお願いします。
          </p>
          <hr>
          <div>
            <label class="desc" id="title1" for="fullName">氏名</label>
            <div>
              <input id="fullName" name="fullName" type="text" class="field text fn" value="" size="8" tabindex="1">
            </div>
          </div>

          <div>
            <label class="desc" id="title3" for="email">
              メールアドレス（最終出欠確認や座席の連絡に使わせていただきます）
            </label>
            <div>
              <input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="2">
           </div>
          </div>

          <div class="admission">
            <label class="desc" id="adult" for="adult">
              大人 (13歳以上) 10,000円
            </label>
            <div>
              <input id="adult" class="guest-count" name="adult" type="number" min="0" max="9" value="0" tabindex="3">
            </div>

           <label class="desc" id="child" for="child">
            子供 (5-12歳) 3,500円
          </label>
          <div>
            <input id="child" class="guest-count" name="child" type="number" min="0" max="9" value="0" tabindex="4">
          </div>

          <label class="desc" id="infant" for="infant">
            幼児 (5歳未満) 無料
          </label>
          <div>
            <input id="infant" class="guest-count" name="infant" type="number" min="0" max="9" value="0" tabindex="5">
          </div>
        </div>

        <div>
          <label class="desc" id="title4" for="message">
            メッセージ
          </label>

          <div>
            <textarea id="message" name="message" spellcheck="true" placeholder="任意" rows="10" cols="50" tabindex="6"></textarea>
          </div>
        </div>

        <input style="font-size:18px" id="submitForm" name="submitForm" type="submit" value="送信">
            </div>
          </div>

        </form>
      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>

    <script>
      $(window).scroll(function () {
        if ( $(window).scrollTop() >= $("header").height() - 70) {
          $('#navbar').addClass("scrolled");
          $('#navbar').removeClass("bottom");
        } else {
          $('#navbar').removeClass("scrolled");
          $('#navbar').addClass("bottom");
        }
      });

      window.addEventListener("hashchange", function () {
        console.log("hashchange!");
        window.scrollTo(window.scrollX, window.scrollY - 68);
      });
    </script>
    <script src="js/slideshow.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/main.js"></script>
    <script src="js/modernizr.minified.js"></script>
    <script src="js/hamburger.js"></script>
  </body>
</html>
