<!DOCTYPE html>
<html>
<head>
  <title>Thank you!</title>
  <link rel="stylesheet" type="text/css" href="css/success.css">
</head>
<body>
  <div class="modal">
    <h1>参加予約ありがとうございます！！</h1>
    <p>日本でお会いできるのを楽しみにしています！</p>
  </div>
</body>
</html>