body {
  background: #FF9999;
}
.modal {
  display: block;
  position: fixed;

  left: 20%;
  top: 20%;
  right: 20%;
  bottom: 20%;
  color: #fff;
  background: #E58A8A;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 5px 5px 0 0 #CC7A7A;
  -webkit-box-shadow: 5px 5px 0 0 #CC7A7A;
  box-shadow: 5px 5px 0 0 #CC7A7A;
}

.modal h1 span {
  font-size: 15px;
  display: block;
  padding-left: 4px;
}
.modal p {
  max-width: 100%;
  font-size: 15px;
  line-height: 25px;
}
